.leftBar {
    /* position: absolute; */
    position: fixed;
    width: 50px;
    height: 1024px;
    /* height: 100%; */
    left: 0px;
    top: 0px;
    background: #1996fc;
    /* float: left; */
    transition: all 0.5s;
    z-index: 1;
    overflow: hidden;
    /* padding-right: 10px; */
}

.leftBar::after {
    content: "";
    background-color: #1996fc;
    /* background-color: red; */
    width: 10px;
    height: 1024px;
    z-index: 2;
    left: 50px;
    position: fixed;
    top: 0;
    transition: all 0.5s;
}

.leftBar:hover::after {
    left: 200px;
}

.leftBar:hover {
    width: 200px;
}


/* =============================== */

.topSemi {
    /* position: absolute; */
    width: 40px;
    height: 30px;
    /* left: 50%; */
    transform: translateX(35%);
    margin-top: 20px;
    background: url(../../assets/pics/topSemi-white.png);
    background-repeat: no-repeat;
    /* background-size: contain; */
}

.bottomSemi {
    /* position: absolute; */
    width: 40px;
    height: 30px;
    /* left: 50%; */
    transform: translateX(35%) translateY(-40%);
    /* top: 60px; */
    background: url(../../assets/pics/bottomSemi-white.png);
    background-repeat: no-repeat;
    /* background-size: contain; */
}

.middleLine {
    /* position: absolute; */
    width: 54px;
    height: 6px;
    /* left: 50%; */
    transform: translateX(41%) translateY(-760%);
    /* top: 85px; */
    background: url(../../assets/pics/middle-line-white.png);
    background-repeat: no-repeat;
}

.topLine {
    /* position: absolute; */
    width: 16px;
    height: 55px;
    /* left: 50%; */
    transform: translateX(175%) translateY(-105%);
    /* top: 75px; */
    background: url(../../assets/pics/vertical-line-white.png);
    background-repeat: no-repeat;
}

.topLine::after {
    content: url(../../assets/pics/HEALTH-white.png);
    margin-left: 30px;
}

.bottomLine {
    /* position: absolute; */
    width: 16px;
    height: 15px;
    left: 50%;
    transform: translateX(175%) translateY(-705%);
    top: 85px;
    background: url(../../assets/pics/vertical-line-white.png);
    background-repeat: no-repeat;
}


/* =============================== */

.logoIconSep {
    position: absolute;
    width: 400px;
    /* width: 44px; */
    height: 2px;
    left: 10px;
    top: 64px;
    background: #ffffff;
    opacity: 0.3;
}

.adminUsersIcon {
    background: url(../../assets/pics/admin-icon-white.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    /* left: 50%; */
    transform: translateX(-50%);
    top: 10%;
    height: 20px;
    width: 20px;
    cursor: pointer;
    left: 30px;
}

.adminUsersIcon::after {
    content: "Admin_Users";
    padding: 10px 40px;
    /* padding-left: 50px; */
    /* width: 200px; */
}

.projectsIconBG {
    background: url(../../assets/pics/icon-bg-white.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    /* left: 50%; */
    transform: translateX(-50%) translateY(-10%);
    top: 14.5%;
    height: 40px;
    width: 40px;
    left: 30px;
}

.projectsIcon {
    background: url(../../assets/pics/projects-icon-blue.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    /* left: 55%; */
    transform: translateX(-50%) translateY(-55%);
    top: 50%;
    height: 20px;
    width: 20px;
    cursor: pointer;
    /* z-index: 999; */
    left: 22.5px;
}

.projectsIcon::after {
    content: "Projects";
    padding: 10px 60px;
    /* padding-left: 50px; */
}

.employeesIcon {
    /* background-color: #111928; */
    background: url(../../assets/pics/employees-icon-white.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    /* left: 50%; */
    transform: translateX(-50%);
    top: 20%;
    height: 20px;
    width: 20px;
    cursor: pointer;
    left: 30px;
}

.employeesIcon::after {
    content: "Employees";
    padding: 10px 50px;
    /* color: #33bc28; */
    /* background-color: #111928; */
}

.settingsIcon {
    background: url(../../assets/pics/settings-icon-white.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    /* left: 50%; */
    transform: translateX(-50%);
    top: 25%;
    height: 20px;
    width: 20px;
    cursor: pointer;
    left: 30px;
    /* z-index: 2; */
}

.settingsIcon::after {
    content: "Settings";
    padding: 10px 60px;
    /* padding-left: 50px; */
}

.adminUsersIcon::after,
.projectsIcon::after,
.employeesIcon::after,
.settingsIcon::after {
    /* padding: 10px 20px 10px 50px; */
    /* width: 280px; */
    /* height: 20px; */
    /* background: yellow; */
    color: white;
}

.adminUsersIcon:hover::after,
.adminUsersIcon:hover,
.projectsIcon:hover::after,
.projectsIcon:hover,
.employeesIcon:hover::after,
.employeesIcon:hover,
.settingsIcon:hover::after,
.settingsIcon:hover {
    background-color: white;
    color: #1996FC;
    /* padding: 10px; */
    border-radius: 6px;
}