.modalBG {
    position: fixed;
    width: 1440px;
    height: 1024px;
    /* height: 901px; */
    left: 0px;
    top: 0px;
    background: #18181b;
}

.addProjectModalContainer {
    position: absolute;
    width: 700px;
    height: 596px;
    left: 370px;
    top: 120px;
    background: #ffffff;
    border-radius: 16px;
}

.modalTitle {
    position: absolute;
    width: 250px;
    height: 33px;
    left: 410px;
    top: 160px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    /* identical to box height, or 33px */
    /* cool-gray/900 */
    color: #111928;
}

.modalClose {
    position: absolute;
    left: 1030px;
    /* right: 28%; */
    top: 19%;
    cursor: pointer;
    /* bottom: 84.51%; */
    /* background: #454754; */
    /* border: 0.5px solid #454754; */
}

.modalSep {
    position: absolute;
    width: 620px;
    height: 2px;
    left: 410px;
    top: 215px;
    background: #ececef;
}

.modalName {
    position: absolute;
    width: 42px;
    height: 14px;
    left: 410px;
    top: 236px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    /* identical to box height, or 14px */
    display: flex;
    align-items: center;
    text-transform: uppercase;
    /* 212121 */
    color: #212121;
}

.modalNameInput {
    box-sizing: border-box;
    position: absolute;
    width: 620px;
    height: 48px;
    left: 410px;
    top: 287px;
    background: #ffffff;
    border: 1px solid #dcdce0;
    border-radius: 6px;
}

.modalEmail {
    position: absolute;
    width: 51px;
    height: 14px;
    left: 410px;
    top: 335px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    /* identical to box height, or 14px */
    display: flex;
    align-items: center;
    text-transform: uppercase;
    /* 212121 */
    color: #212121;
}

.modalEmailInput {
    box-sizing: border-box;
    position: absolute;
    width: 620px;
    height: 48px;
    left: 410px;
    top: 386px;
    background: #ffffff;
    border: 1px solid #dcdce0;
    border-radius: 6px;
}

.modalPhone {
    position: absolute;
    width: 126px;
    height: 14px;
    left: 410px;
    top: 434px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    /* identical to box height, or 14px */
    display: flex;
    align-items: center;
    text-transform: uppercase;
    /* 212121 */
    color: #212121;
}

.modalPhoneInput {
    box-sizing: border-box;
    position: absolute;
    width: 360px;
    height: 48px;
    left: 410px;
    top: 485px;
    background: #ffffff;
    border: 1px solid #dcdce0;
    border-radius: 6px;
    /* width: 68px; */
    overflow: hidden;
}

.modalPhoneCountry {
    position: absolute;
    width: 68px;
    height: 43px;
    left: 1px;
    top: 2px;
    background-color: #EBF5FF;
    /* background-color: red; */
    border: none;
}

.modalPhoneNumber {
    position: absolute;
    width: 280px;
    height: 43px;
    left: 70px;
    top: 2px;
    /* border: solid 1px red; */
    border: none;
}

.modalRole,
.modalJoiningDate {
    position: absolute;
    width: 164px;
    height: 14px;
    left: 800px;
    top: 434px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    /* identical to box height, or 14px */
    display: flex;
    align-items: center;
    text-transform: uppercase;
    /* 212121 */
    color: #212121;
}

.modalRoleInput,
.modalJoiningDateInput {
    box-sizing: border-box;
    position: absolute;
    width: 230px;
    height: 48px;
    left: 800px;
    top: 485px;
    background: #ffffff;
    border: 1px solid #dcdce0;
    border-radius: 6px;
}

.modalSkills {
    position: absolute;
    width: 106px;
    height: 14px;
    left: 410px;
    top: 542px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    /* identical to box height, or 14px */
    display: flex;
    align-items: center;
    text-transform: uppercase;
    /* 212121 */
    color: #212121;
}

.modalSkillsInput {
    box-sizing: border-box;
    position: absolute;
    width: 295px;
    height: 48px;
    left: 410px;
    top: 593px;
    background: #ffffff;
    border: 1px solid #dcdce0;
    border-radius: 6px;
}

.modalEmpType {
    position: absolute;
    width: 164px;
    height: 14px;
    left: 735px;
    top: 542px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    /* identical to box height, or 14px */
    display: flex;
    align-items: center;
    text-transform: uppercase;
    /* 212121 */
    color: #212121;
}

.modalEmpTypeInput {
    box-sizing: border-box;
    position: absolute;
    width: 295px;
    height: 48px;
    left: 735px;
    top: 593px;
    background: #ffffff;
    border: 1px solid #dcdce0;
    border-radius: 6px;
}

.modalSalary {
    position: absolute;
    width: 86px;
    height: 14px;
    left: 410px;
    top: 641px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    /* identical to box height, or 14px */
    display: flex;
    align-items: center;
    text-transform: uppercase;
    /* 212121 */
}

.modalSalaryInput {
    box-sizing: border-box;
    position: absolute;
    width: 295px;
    height: 48px;
    left: 410px;
    top: 692px;
    background: #ffffff;
    border: 1px solid #dcdce0;
    border-radius: 6px;
}

.modalUtilization {
    position: absolute;
    width: 69px;
    height: 14px;
    left: 735px;
    top: 641px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    /* identical to box height, or 14px */
    display: flex;
    align-items: center;
    text-transform: uppercase;
    /* 212121 */
    color: #212121;
}

.modalUtilizationInput {
    box-sizing: border-box;
    position: absolute;
    width: 295px;
    height: 48px;
    left: 735px;
    top: 692px;
    background: #ffffff;
    border: 1px solid #dcdce0;
    border-radius: 6px;
}

.modalRevenue {
    position: absolute;
    width: 184px;
    height: 14px;
    left: 410px;
    top: 737px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    /* identical to box height, or 14px */
    display: flex;
    align-items: center;
    text-transform: uppercase;
    /* 212121 */
    color: #212121;
}

.modalRevenueInput {
    box-sizing: border-box;
    position: absolute;
    width: 295px;
    height: 48px;
    left: 410px;
    top: 791px;
    background: #ffffff;
    border: 1px solid #dcdce0;
    border-radius: 6px;
}

.modalAddAnotherBtn {
    box-sizing: border-box;
    position: absolute;
    width: 145px;
    height: 41px;
    left: 410px;
    top: 563px;
    background: #ffffff;
    border: 1px solid #262626;
    border-radius: 6px;
    padding: 10px 13px;
    font-family: "Inter";
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: #262626;
    cursor: pointer;
}

.modalCancel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 17px;
    position: absolute;
    width: 88px;
    height: 42px;
    left: 805px;
    top: 634px;
    /* white */
    background: #ffffff;
    /* cool-gray/300 */
    border: 1px solid #d1d5db;
    border-radius: 6px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */
    /* cool-gray/900 */
    color: #111928;
    cursor: pointer;
}

.modalAddProjectBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 17px;
    position: absolute;
    width: 150px;
    height: 42px;
    left: 905px;
    top: 634px;
    background: #f6f6f6;
    border-radius: 6px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */
    /* cool-gray/400 */
    color: #9ca3af;
    border: none;
    cursor: pointer;
}

.flag {
    background-image: url(../../assets/pics/uae-flag.png);
    width: 34px;
    height: 18px;
    z-index: 2;
}