.adminTable tr td {
    border-bottom: solid 1px #e5e7eb;
}

.adminTable {
    top: 170px;
    position: absolute;
    left: 70px;
    width: 1350px;
    border-spacing: 0px;
    font-family: "Inter";
    /* white-space: nowrap; */
}

.adminTable thead {
    background-color: #f3f4f6;
    color: #4b5563;
    font-size: 14px;
    font-weight: 600;
}

.adminTable thead td {
    cursor: pointer;
    height: 46px;
}

.adminTable thead td:hover {
    background-color: #cccccd42;
}

.adminTable td {
    /* padding: 5px; */
    height: 65px;
}

.adminTable tbody td {
    color: #111928;
    font-weight: 500;
    font-size: 16px;
}

.optionsMenu {
    margin-left: 15px;
    cursor: pointer;
    font-size: 24px;
}

.adminTable tbody td:nth-child(6) div {
    border-radius: 8px;
    border: solid 1px #262626;
    padding: 1px 11px;
    width: 69px;
    height: 24px;
}

.eachEmployeeSkill {
    border-radius: 8px;
    border: solid 1px #000;
    padding: 1px 5px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    margin: 0px 5px;
    display: inline-block;
    color: #111928;
    font-family: 'Inter';
}

.adminTable tbody td span {
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url(../../assets/pics/green-tick.png);
    background-repeat: no-repeat;
    transform: translateY(35%);
}

.topArrow {
    display: inline-block;
    margin-left: 5px;
    transform: translateY(20%);
    font-size: 18px;
    color: #71717A;
    font-weight: 500;
}

.downArrow {
    display: inline-block;
    margin-right: 5px;
    font-size: 18px;
    color: #71717A;
    transform: translateY(20%);
    font-weight: 500;
}

tr:hover .clickDetails {
    background-color: #f3f4f6;
    cursor: pointer;
}

.adminTable input[type="checkbox"] {
    height: 18px;
    width: 18px;
}