.backBtn {
    position: absolute;
    width: 54px;
    height: 17px;
    left: 88px;
    top: 58px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #a6a6a6;
}

.mainHeading {
    position: absolute;
    width: 401px;
    height: 46px;
    left: 495px;
    top: 196px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 46px;
    /* identical to box height */
    color: #212121;
}

.mainContent {
    position: absolute;
    width: 451px;
    height: 58px;
    left: 495px;
    top: 247px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    /* or 161% */
    color: #212121;
}

.firstPlaceholder {
    position: absolute;
    width: 32px;
    height: 15px;
    left: 496px;
    top: 365px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    color: #212121;
    opacity: 0.4;
}

.fEmailInput {
    position: absolute;
    width: 450px;
    /* height: 2px; */
    left: 496px;
    top: 434px;
    /* background: #212121; */
    /* opacity: 0.3; */
    border: none;
    border-bottom: solid 2px #212121;
    /* color: black; */
}

.btnOne {
    position: absolute;
    width: 450px;
    height: 50px;
    left: 496px;
    top: 496px;
    background: #1996fc;
    box-shadow: 0px 0px 4px rgba(28, 30, 33, 0.16);
    border-radius: 6px;
    border: none;
}

.btnOne a {
    text-decoration: none;
    color: white;
}

.cancelOne {
    position: absolute;
    width: 47px;
    height: 17px;
    left: 698px;
    top: 572px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    text-align: center;
    color: #212121;
}

.cancelOne a {
    text-decoration: none;
}

.blueColor {
    color: #1996fc;
}

.firstPassInput {
    position: absolute;
    width: 450px;
    /* height: 2px; */
    left: 496px;
    top: 435px;
    /* background: #212121; */
    /* opacity: 0.3; */
    border: none;
    border-bottom: solid 2px #212121
}

.firstHelper {
    position: absolute;
    width: 300px;
    height: 17px;
    left: 495px;
    top: 445px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #212121;
    opacity: 0.4;
}

.secondPlaceholder {
    position: absolute;
    width: 57px;
    height: 15px;
    left: 495px;
    top: 504px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    color: #212121;
    opacity: 0.4;
}

.secondPassInput {
    position: absolute;
    width: 450px;
    /* height: 2px; */
    left: 496px;
    top: 574px;
    /* background: #212121; */
    /* opacity: 0.3; */
    border: none;
    border-bottom: solid 2px #212121;
}

.secondHelper {
    position: absolute;
    width: 185px;
    height: 17px;
    left: 495px;
    top: 584px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #212121;
    opacity: 0.4;
}

.btnThree {
    position: absolute;
    width: 450px;
    height: 50px;
    left: 496px;
    top: 660px;
    background: #1996fc;
    box-shadow: 0px 0px 4px rgba(28, 30, 33, 0.16);
    border-radius: 6px;
    border: none;
}

.btnThree a {
    text-decoration: none;
    color: white;
}

.cancelThree {
    position: absolute;
    width: 47px;
    height: 17px;
    left: 698px;
    top: 736px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    text-align: center;
    color: #212121;
    text-decoration: none;
}

.btnFour {
    position: absolute;
    width: 450px;
    height: 50px;
    left: 496px;
    top: 395px;
    background: #1996fc;
    box-shadow: 0px 0px 4px rgba(28, 30, 33, 0.16);
    border-radius: 6px;
    border: none;
}

.btnFour a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 14px;
}