.left {
    position: absolute;
    width: 676px;
    height: 901px;
    /* left: 676px; */
    top: 0px;
    background: url(../assets/pics/jj-ying-7JX0-bfiuxQ-unsplash\ 1.png);
}

.errorBox {
    overflow: hidden;
    position: absolute;
    width: 440px;
    height: 100px;
    left: 838px;
    top: 20px;
    background: #ffffff;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    transition: all 0.5s ease-in-out;
}

.errorLine {
    position: absolute;
    width: 4px;
    height: 100px;
    /* left: 838px; */
    /* top: 15px; */
    /* Red */
    background: #eb5757;
    overflow: hidden;
}

.errorImage {
    position: absolute;
    left: 8.33%;
    right: 8.33%;
    top: 30%;
    bottom: 8.33%;
    /* Red */
    /* background: #EB5757; */
    background: url(../assets/pics/errorImage.png);
    /* width: 33.33333206176758px; */
    /* left: 5.333251953125px; */
    /* top: 3.3333740234375px; */
    border-radius: 0px;
    background-repeat: no-repeat;
}

.errorText {
    position: absolute;
    width: 315px;
    height: 44px;
    left: 100px;
    top: 28px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    /* or 138% */
    display: flex;
    align-items: center;
    color: #eb5757;
}

.errorClose {
    position: absolute;
    color: #212121;
    height: 13px;
    width: 13px;
    right: 10px;
    top: 10px;
    background: url(../assets/pics/close-icon.png);
    background-repeat: no-repeat;
    background-size: contain;
}


/* ================== */

.loginTitle {
    position: absolute;
    width: 137px;
    height: 52px;
    left: 830px;
    /* left: 2px; */
    top: 187px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 43px;
    line-height: 52px;
    /* identical to box height */
    text-align: center;
    color: #212121;
    /* color: aliceblue; */
}

.logoText {
    position: absolute;
    width: 118px;
    height: 21px;
    left: 60px;
    top: 120px;
    background: url(../assets/pics/HEALTH.png);
}

.emailText {
    position: absolute;
    width: 32px;
    height: 15px;
    left: 834px;
    top: 292px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    color: #212121;
    opacity: 0.4;
}

.emailInput {
    position: absolute;
    width: 450px;
    height: 30px;
    left: 834px;
    top: 361px;
    border: none;
    border-bottom: solid 2px #212121;
    font-size: 1.25rem;
}

.passwordText {
    position: absolute;
    width: 57px;
    height: 15px;
    left: 833px;
    top: 412px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    color: #212121;
    opacity: 0.4;
}

.passwordInput {
    position: absolute;
    width: 450px;
    height: 30px;
    left: 834px;
    top: 482px;
    border: none;
    border-bottom: solid 2px #212121;
    /* color: red; */
    font-size: 1.25rem;
}

.passwordRule {
    position: absolute;
    width: 297px;
    height: 17px;
    left: 834px;
    top: 492px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #212121;
    opacity: 0.4;
}

.loginBtn {
    position: absolute;
    width: 450px;
    height: 50px;
    left: 834px;
    top: 561px;
    /* background: #d2d3d9; */
    background-color: #1996fc;
    border-radius: 6px;
    border: none;
    color: white;
    cursor: pointer;
}

.policyText {
    position: absolute;
    width: 328px;
    height: 34px;
    left: 895px;
    top: 621px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #212121;
}

.blueColor {
    color: #1996fc;
}

.forgotPassword {
    position: absolute;
    width: 176px;
    height: 17px;
    left: 987px;
    top: 693px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    text-align: center;
    color: #1996fc;
}

.topSemi {
    position: absolute;
    width: 54px;
    height: 53px;
    left: 92px;
    top: 60px;
    background: url(../assets/pics/topSemiCircle.png);
    background-repeat: no-repeat;
}

.bottomSemi {
    position: absolute;
    width: 54px;
    height: 53px;
    left: 92px;
    top: 90px;
    background: url(../assets/pics/bottomSemiCircle.png);
    background-repeat: no-repeat;
}

.middleLine {
    position: absolute;
    width: 54px;
    height: 6px;
    left: 107px;
    top: 85px;
    background: url(../assets/pics/Rectangle\ 5668.png);
    background-repeat: no-repeat;
}

.topLine {
    position: absolute;
    width: 16px;
    height: 15px;
    left: 116px;
    top: 75px;
    background: url(../assets/pics/Rectangle\ 5671.png);
    background-repeat: no-repeat;
}

.bottomLine {
    position: absolute;
    width: 16px;
    height: 15px;
    left: 116px;
    top: 85px;
    background: url(../assets/pics/Rectangle\ 5671.png);
    background-repeat: no-repeat;
}

.errorOffset {
    box-shadow: 0px -1px 0px 1px #eb5757;
    border-radius: 5px;
}

.errorOffset:focus {
    /* border: none; */
    outline: none;
}