.topArrow {
    display: inline-block;
    margin-left: 5px;
    font-size: 18px;
    color: #71717A;
    font-weight: 500;
    transform: translateY(20%);
}

.downArrow {
    font-size: 18px;
    color: #71717A;
    font-weight: 500;
    display: inline-block;
    margin-right: 5px;
    transform: translateY(20%);
}


/* ================== */

.optionsMenuBox {
    height: 120px;
    width: 180px;
    position: absolute;
    background-color: #f3f4f6;
    left: 1190px;
    z-index: 1;
    font-family: "Inter";
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

.optionsMenuBox div {
    padding: 10px 20px;
    cursor: pointer;
}

.optionsMenuBox div:hover {
    background-color: #dfe0e1;
}


/* ================== */

.projectTable tr td {
    border-bottom: solid 1px #e5e7eb;
}

.projectTable {
    top: 170px;
    position: absolute;
    left: 70px;
    width: 1696px;
    border-spacing: 0px;
    font-family: "Inter";
    transition: all 0.5s;
}

.projectTable thead {
    background-color: #f3f4f6;
    color: #4b5563;
    font-size: 14px;
    font-weight: 600;
}

.projectTable thead td {
    height: 46px;
    cursor: pointer;
}

.projectTable thead td:hover {
    background-color: #cccccd42;
}

.projectTable tbody td {
    color: #111928;
    font-weight: 500;
    font-size: 16px;
    /* padding: 5px; */
    height: 65px;
}

.optionsMenu {
    margin-left: 10px;
    cursor: pointer;
    font-size: 24px;
    color: #000;
}

.projectTable tbody td:nth-child(9) {
    color: #e02424;
}

.projectTable tbody td:nth-child(10) {
    color: #33bc28;
}

tr:hover .clickDetails {
    background-color: #f3f4f6;
    cursor: pointer;
}

.projectTable input[type="checkbox"] {
    height: 18px;
    width: 18px;
}


/* ================== */

.modalBG {
    position: fixed;
    width: 1440px;
    height: 1024px;
    /* height: 901px; */
    left: 0px;
    top: 0px;
    background: #18181b;
}

.addProjectModalContainer {
    position: absolute;
    width: 700px;
    height: 723px;
    left: 370px;
    top: 120px;
    background: #ffffff;
    border-radius: 16px;
}

.modalTitle {
    position: absolute;
    width: 250px;
    height: 33px;
    left: 410px;
    top: 160px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    color: #111928;
}

.modalClose {
    position: absolute;
    left: 1030px;
    top: 19%;
    cursor: pointer;
    background: url(../assets/pics/close-icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 13px;
    width: 13px;
}

.modalSep {
    position: absolute;
    width: 620px;
    height: 2px;
    left: 410px;
    top: 215px;
    background: #ececef;
}

.modalName {
    position: absolute;
    width: 42px;
    height: 14px;
    left: 410px;
    top: 236px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #212121;
}

.modalNameInput {
    box-sizing: border-box;
    position: absolute;
    width: 620px;
    height: 48px;
    left: 410px;
    top: 287px;
    background: #ffffff;
    border: 1px solid #dcdce0;
    border-radius: 6px;
}

.modalClient {
    position: absolute;
    width: 51px;
    height: 14px;
    left: 410px;
    top: 335px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #212121;
}

.modalClientInput {
    box-sizing: border-box;
    position: absolute;
    width: 620px;
    height: 48px;
    left: 410px;
    top: 386px;
    background: #ffffff;
    border: 1px solid #dcdce0;
    border-radius: 6px;
}

.modalProjectType {
    position: absolute;
    width: 106px;
    height: 14px;
    left: 410px;
    top: 434px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #212121;
}

.modalProjectTypeInput {
    box-sizing: border-box;
    position: absolute;
    width: 295px;
    height: 48px;
    left: 410px;
    top: 485px;
    background: #ffffff;
    border: 1px solid #dcdce0;
    border-radius: 6px;
}

.modalProjectResponsible {
    position: absolute;
    width: 164px;
    height: 14px;
    left: 735px;
    top: 434px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #212121;
}

.modalProjectResponsibleInput {
    box-sizing: border-box;
    position: absolute;
    width: 295px;
    height: 48px;
    left: 735px;
    top: 485px;
    background: #ffffff;
    border: 1px solid #dcdce0;
    border-radius: 6px;
}

.modalStartDate {
    position: absolute;
    width: 86px;
    height: 14px;
    left: 410px;
    top: 533px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.modalStartDateInput {
    box-sizing: border-box;
    position: absolute;
    width: 295px;
    height: 48px;
    left: 410px;
    top: 584px;
    background: #ffffff;
    border: 1px solid #dcdce0;
    border-radius: 6px;
}

.modalEndDate {
    position: absolute;
    width: 69px;
    height: 14px;
    left: 735px;
    top: 533px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #212121;
}

.modalEndDateInput {
    box-sizing: border-box;
    position: absolute;
    width: 295px;
    height: 48px;
    left: 735px;
    top: 584px;
    background: #ffffff;
    border: 1px solid #dcdce0;
    border-radius: 6px;
}

.modalProjectStatus {
    position: absolute;
    width: 124px;
    height: 14px;
    left: 410px;
    top: 632px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #212121;
}

.modalProjectStatusInput {
    box-sizing: border-box;
    position: absolute;
    width: 295px;
    height: 48px;
    left: 410px;
    top: 683px;
    background: #ffffff;
    border: 1px solid #dcdce0;
    border-radius: 6px;
}

.modalMonthlyStatus {
    position: absolute;
    width: 129px;
    height: 14px;
    left: 735px;
    top: 632px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #212121;
}

.modalMonthlyStatusInput {
    box-sizing: border-box;
    position: absolute;
    width: 295px;
    height: 48px;
    left: 735px;
    top: 683px;
    background: #ffffff;
    border: 1px solid #dcdce0;
    border-radius: 6px;
}

.modalCancel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 17px;
    position: absolute;
    width: 88px;
    height: 42px;
    left: 805px;
    top: 781px;
    background: #ffffff;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #111928;
    cursor: pointer;
}

.modalAddProjectBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 17px;
    position: absolute;
    width: 150px;
    height: 42px;
    left: 905px;
    top: 781px;
    background: #f6f6f6;
    border-radius: 6px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #9ca3af;
    border: none;
    cursor: pointer;
}


/* ===================================== */

.leftSideBarMain {
    width: 60px;
    height: 900px;
    position: absolute;
}

.projectTableContainer {
    position: absolute;
    left: 0px;
    transition: all 0.5s;
    overflow-y: scroll;
    /* overflow-x: scroll; */
    width: 1440px;
    height: 900px
}

.leftSideBarMain:hover~.projectTableContainer {
    left: 150px;
}