.leftBar {
    position: absolute;
    width: 60px;
    height: 1024px;
    left: 0px;
    top: 0px;
    background: #1996fc;
}


/* =============================== */

.topSemi {
    /* position: absolute; */
    width: 40px;
    height: 30px;
    /* left: 50%; */
    transform: translateX( 35%);
    margin-top: 20px;
    background: url(../assets/pics/topSemi-white.png);
    background-repeat: no-repeat;
    /* background-size: contain; */
}

.bottomSemi {
    /* position: absolute; */
    width: 40px;
    height: 30px;
    /* left: 50%; */
    transform: translateX(35%) translateY(-40%);
    /* top: 60px; */
    background: url(../assets/pics/bottomSemi-white.png);
    background-repeat: no-repeat;
    /* background-size: contain; */
}

.middleLine {
    /* position: absolute; */
    width: 54px;
    height: 6px;
    /* left: 50%; */
    transform: translateX(41%) translateY(-760%);
    /* top: 85px; */
    background: url(../assets/pics/middle-line-white.png);
    background-repeat: no-repeat;
}

.topLine {
    /* position: absolute; */
    width: 16px;
    height: 55px;
    /* left: 50%; */
    transform: translateX(175%) translateY(-105%);
    /* top: 75px; */
    background: url(../assets/pics/vertical-line-white.png);
    background-repeat: no-repeat;
}

.bottomLine {
    /* position: absolute; */
    width: 16px;
    height: 15px;
    left: 50%;
    transform: translateX(175%) translateY(-705%);
    top: 85px;
    background: url(../assets/pics/vertical-line-white.png);
    background-repeat: no-repeat;
}


/* =============================== */

.logoIconSep {
    position: absolute;
    width: 44px;
    height: 2px;
    left: 8px;
    top: 71px;
    background: #FFFFFF;
    opacity: 0.3;
}

.adminUsersIcon {
    background: url(../assets/pics/admin-icon-white.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10%;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.projectsIconBG {
    background: url(../assets/pics/icon-bg-white.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-10%);
    top: 15%;
    height: 40px;
    width: 40px;
}

.projectsIcon {
    background: url(../assets/pics/projects-icon-blue.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 55%;
    transform: translateX(-50%) translateY(-55%);
    top: 50%;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.employeesIcon {
    background: url(../assets/pics/employees-icon-white.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20%;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.settingsIcon {
    background: url(../assets/pics/settings-icon-white.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 25%;
    height: 20px;
    width: 20px;
    cursor: pointer;
}


/* ======================= */

.navBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 1440px;
    height: 64px;
    left: 0px;
    top: 0px;
    /* white */
    background: #ffffff;
    /* background: #2b2b2b; */
}

.bellIcon {
    position: absolute;
    /* left: 15%; */
    right: 10%;
    top: 35%;
    /* bottom: 10%; */
    /* cool-gray/900 */
    background: url(../assets/pics/bellicon.png);
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
}

.avatorIcon {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    padding: 0px;
    width: 32px;
    height: 32px;
    /* Avatar/Jese Leos */
    background: url(../assets/pics/avataricon.png);
    /* border-radius: 16px; */
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    position: absolute;
    right: 5%;
    top: 25%;
    /* bottom: 10%; */
    background-repeat: no-repeat;
}

.divider {
    width: 1440px;
    height: 1px;
    /* cool-gray/200 */
    background: #e5e7eb;
    /* background: black; */
    /* Inside auto layout */
    flex: none;
    order: 0;
    /* flex-grow: 1; */
    position: absolute;
    top: 64px;
    /* bottom: 0; */
}

.pageTitle {
    width: 204px;
    height: 27px;
    /* text-lg/font-semibold */
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */
    /* cool-gray/900 */
    color: #111928;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    top: 92.5px;
    position: absolute;
    left: 100px;
}

.searchInput {
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 13px 20px;
    width: 562.58px;
    height: 50px;
    /* cool-gray/50 */
    background: #f9fafb;
    /* cool-gray/200 */
    border: 1px solid #e5e7eb;
    border-radius: 16px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    top: 80px;
    position: absolute;
    left: 300px;
}

.addProjectBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 13px;
    gap: 8px;
    width: 150px;
    height: 39px;
    /* Style */
    background: #262626;
    border-radius: 12px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    top: 85px;
    right: 50px;
    position: absolute;
    color: #ffffff;
    cursor: pointer;
}

.separator {
    width: 1379px;
    height: 1px;
    /* cool-gray/200 */
    background: #e5e7eb;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    position: absolute;
    top: 145px;
    left: 60px;
}

.topArrow {
    background: url(../assets/pics/top-gray.png);
    /* background-color: #111928; */
    background-repeat: no-repeat;
    background-size: contain;
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-left: 5px;
    transform: translateY(20%);
}

.downArrow {
    /* background-color: green; */
    background: url(../assets/pics/down-gray.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 5px;
    transform: translateY(20%);
}


/* ================== */

.projectTable tr td {
    border-bottom: solid 1px #e5e7eb;
}

.projectTable {
    top: 170px;
    position: absolute;
    left: 70px;
    /* right: 10px; */
    width: 1350px;
    border-spacing: 0px;
    font-family: "Inter";
}

.projectTable thead {
    /* padding: 50px; */
    /* margin: 5px; */
    background-color: #f3f4f6;
    /* gap: 5px;
    column-gap: 5px; */
    color: #4b5563;
}

.projectTable td {
    padding: 5px;
    /* width: 0px; */
    height: 70px;
    color: #111928;
}

.optionsMenu {
    background: url(../assets/pics/ellipsis-vertical.png);
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    /* left: 25%; */
    /* color: black; */
    background-size: contain;
    margin-left: 10px;
}

.projectTable tbody td:nth-child(9) {
    color: #e02424;
}

.projectTable tbody td:nth-child(10) {
    color: #33bc28;
}

.pagination {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 1339px;
    height: 76px;
    left: 81px;
    /* bottom: 0; */
    top: 938px;
    /* white */
    /* background: #FFFFFF; */
    background-color: #e5e7eb;
    padding-left: 30px;
}

.paginationLeftBtn {
    position: absolute;
    /* left: 100px; */
    /* right: 35%; */
    top: 50%;
    bottom: 25.06%;
    background: url(../assets/pics/lefticon.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    transform: translateY(-50%);
    cursor: pointer;
}

.paginationRightBtn {
    position: absolute;
    left: 70px;
    /* right: 35%; */
    top: 50%;
    bottom: 25.06%;
    background: url(../assets/pics/righticon.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    transform: translateY(-50%);
    cursor: pointer;
}

.paginationText {
    width: 250px;
    height: 21px;
    /* text-sm/font-normal */
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    /* cool-gray/500 */
    color: #6b7280;
    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
    /* text-align: left; */
    position: absolute;
    left: 10%;
    letter-spacing: 1px;
}

.boldPaginationText {
    font-weight: 900;
    color: #111928;
}

.modalBG {
    position: absolute;
    width: 1440px;
    height: 1024px;
    /* height: 901px; */
    left: 0px;
    top: 0px;
    background: #18181B;
}

.addProjectModalContainer {
    position: absolute;
    width: 700px;
    height: 723px;
    left: 370px;
    top: 120px;
    background: #FFFFFF;
    border-radius: 16px;
}

.modalTitle {
    position: absolute;
    width: 250px;
    height: 33px;
    left: 410px;
    top: 160px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    /* identical to box height, or 33px */
    /* cool-gray/900 */
    color: #111928;
}

.modalClose {
    position: absolute;
    /* left: 71.25%; */
    right: 28%;
    top: 19%;
    cursor: pointer;
    /* bottom: 84.51%; */
    /* background: #454754; */
    /* border: 0.5px solid #454754; */
}

.modalSep {
    position: absolute;
    width: 620px;
    height: 2px;
    left: 410px;
    top: 215px;
    background: #ECECEF;
}

.modalName {
    position: absolute;
    width: 42px;
    height: 14px;
    left: 410px;
    top: 236px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    /* identical to box height, or 14px */
    display: flex;
    align-items: center;
    text-transform: uppercase;
    /* 212121 */
    color: #212121;
}

.modalNameInput {
    box-sizing: border-box;
    position: absolute;
    width: 620px;
    height: 48px;
    left: 410px;
    top: 287px;
    background: #FFFFFF;
    border: 1px solid #DCDCE0;
    border-radius: 6px;
}

.modalClient {
    position: absolute;
    width: 51px;
    height: 14px;
    left: 410px;
    top: 335px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    /* identical to box height, or 14px */
    display: flex;
    align-items: center;
    text-transform: uppercase;
    /* 212121 */
    color: #212121;
}

.modalClientInput {
    box-sizing: border-box;
    position: absolute;
    width: 620px;
    height: 48px;
    left: 410px;
    top: 386px;
    background: #FFFFFF;
    border: 1px solid #DCDCE0;
    border-radius: 6px;
}

.modalProjectType {
    position: absolute;
    width: 106px;
    height: 14px;
    left: 410px;
    top: 434px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    /* identical to box height, or 14px */
    display: flex;
    align-items: center;
    text-transform: uppercase;
    /* 212121 */
    color: #212121;
}

.modalProjectTypeInput {
    box-sizing: border-box;
    position: absolute;
    width: 295px;
    height: 48px;
    left: 410px;
    top: 485px;
    background: #FFFFFF;
    border: 1px solid #DCDCE0;
    border-radius: 6px;
}

.modalProjectResponsible {
    position: absolute;
    width: 164px;
    height: 14px;
    left: 735px;
    top: 434px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    /* identical to box height, or 14px */
    display: flex;
    align-items: center;
    text-transform: uppercase;
    /* 212121 */
    color: #212121;
}

.modalProjectResponsibleInput {
    box-sizing: border-box;
    position: absolute;
    width: 295px;
    height: 48px;
    left: 735px;
    top: 485px;
    background: #FFFFFF;
    border: 1px solid #DCDCE0;
    border-radius: 6px;
}

.modalStartDate {
    position: absolute;
    width: 86px;
    height: 14px;
    left: 410px;
    top: 533px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    /* identical to box height, or 14px */
    display: flex;
    align-items: center;
    text-transform: uppercase;
    /* 212121 */
}

.modalStartDateInput {
    box-sizing: border-box;
    position: absolute;
    width: 295px;
    height: 48px;
    left: 410px;
    top: 584px;
    background: #FFFFFF;
    border: 1px solid #DCDCE0;
    border-radius: 6px;
}

.modalEndDate {
    position: absolute;
    width: 69px;
    height: 14px;
    left: 735px;
    top: 533px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    /* identical to box height, or 14px */
    display: flex;
    align-items: center;
    text-transform: uppercase;
    /* 212121 */
    color: #212121;
}

.modalEndDateInput {
    box-sizing: border-box;
    position: absolute;
    width: 295px;
    height: 48px;
    left: 735px;
    top: 584px;
    background: #FFFFFF;
    border: 1px solid #DCDCE0;
    border-radius: 6px;
}

.modalProjectStatus {
    position: absolute;
    width: 124px;
    height: 14px;
    left: 410px;
    top: 632px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    /* identical to box height, or 14px */
    display: flex;
    align-items: center;
    text-transform: uppercase;
    /* 212121 */
    color: #212121;
}

.modalProjectStatusInput {
    box-sizing: border-box;
    position: absolute;
    width: 295px;
    height: 48px;
    left: 410px;
    top: 683px;
    background: #FFFFFF;
    border: 1px solid #DCDCE0;
    border-radius: 6px;
}

.modalMonthlyStatus {
    position: absolute;
    width: 129px;
    height: 14px;
    left: 735px;
    top: 632px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    /* identical to box height, or 14px */
    display: flex;
    align-items: center;
    text-transform: uppercase;
    /* 212121 */
    color: #212121;
}

.modalMonthlyStatusInput {
    box-sizing: border-box;
    position: absolute;
    width: 295px;
    height: 48px;
    left: 735px;
    top: 683px;
    background: #FFFFFF;
    border: 1px solid #DCDCE0;
    border-radius: 6px;
}

.modalCancel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 17px;
    position: absolute;
    width: 88px;
    height: 42px;
    left: 805px;
    top: 781px;
    /* white */
    background: #FFFFFF;
    /* cool-gray/300 */
    border: 1px solid #D1D5DB;
    border-radius: 6px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */
    /* cool-gray/900 */
    color: #111928;
    cursor: pointer;
}

.modalAddProjectBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 17px;
    position: absolute;
    width: 150px;
    height: 42px;
    left: 905px;
    top: 781px;
    background: #F6F6F6;
    border-radius: 6px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */
    /* cool-gray/400 */
    color: #9CA3AF;
    border: none;
    cursor: pointer;
}