.tempLeft:hover~.tempTable {
    left: 220px;
}

.tempLeft:hover~.tempHeader {
    left: 150px;
}

.tempTable,
.tempHeader,
.tempEmployeeTable {
    transition: all 0.5s;
}

.tempHeader,
.tempEmployeeTable {
    left: 0;
}

.tempLeft:hover~.tempEmployeeTable {
    left: 150px;
}